PORT=3000
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
BCRYPT_ROUNDS=12

HTTPS_PORT=3000
APP_NAME=HustleHub+ API
NODE_ENV=development
SSL_KEY_PATH=certificates/privatekey.pem
SSL_CERT_PATH=certificates/certificate.pem